<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uestc.mymoa">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/ActionBarTheme">
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".ui.SelectMainActivity"
            android:theme="@style/NoActionBarTheme"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".ui.LoginActivity"
            android:label="登录">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.SigninActivity"
            android:label="注册">
        </activity>

                <activity android:name=".ui.FileManageActivity"
            android:label="文档列表">
        </activity>
        <activity android:name=".ui.FileManageAddActivity"
            android:label="新建文档">
        </activity>
        <activity android:name=".ui.FileManageDetailActivity"
            android:label="文档详情">
        </activity>
        <activity android:name=".ui.FileManageSearchActivity"
            android:label="文档搜索">
        </activity>
        <activity android:name=".ui.FileManageEditActivity"
            android:label="编辑文档">
        </activity>
    </application>

</manifest>
